@{
    ViewBag.Title = "Make A Connection";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Louisville, KY 40204<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:5024756897">502.475.6897</a>
    <abbr title="Fax">F:</abbr>
    <a href="fax:5029968246">502.996.8246</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Fouts.John@gmail.com">Contact Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:ICreateUpwardSpirals@gmail.com">Reach Out To Marketing</a>
</address>